[submodule "lib/workflow"]
	path = lib/workflow
	url = ssh://git.rian.off/scm/workflow.nodejs
[submodule "lib/sencha-touch-2"]
	path = lib/sencha-touch-2
	url = ssh://git.rian.off/scm/alien/sencha-touch-2.0
