.user-space,
.x-dataview-tiles {
	padding: 0;
}

.user-space {
	border: none !important;
}

.user-space button,
.user-space input {
	width: 95px;
}

.user-space button {
	font-size: 0.7em;
	margin-top: 5px;
	white-space: nowrap;
}

#fsDiv:fullscreen {
    width: 100%;
    height: 100%;
    background: #ddd;
}
#fsDiv:-moz-full-screen {
    width: 100%;
    height: 100%;
    background: #ddd;
}

#fsDiv:-webkit-full-screen {
    width: 100%;
    height: 100%;
    background: #ddd;
}

#fsDiv {
    width: 100px;
    height: 100px;
    display: block;
    background: #ddd;
    padding: 20px;
}

#fsDiv #exitFullScreen {
    display: none;
}

#fsDiv:hover {
    border: 1px solid #eee;
}

#fsDiv:-moz-full-screen #exitFullScreen{
    display: block;
}
#fsDiv:fullscreen #exitFullScreen{
    display: block;
}
#fsDiv:-webkit-full-screen #exitFullScreen {
    display: block;
}

.x-dataview-tiles .x-dataview-inner {
	position: relative;
	z-index: 2;
}

canvas {
	position: absolute;
	background-color: #fff;
	z-index: 1;
	-webkit-transform: rotate(1800deg);
	-webkit-transition: all 600ms ease-in;
	left: 50%;
	top: 50%;
	width: 0;
	height: 0;
}

canvas.active {
	left: 0;
	top: 0;
	-webkit-transform: rotate(0deg);
	width: 1920px;
	height: 1080px;
}

/* TODO: uncomment for production
body, canvas {
	cursor: none !important;
}
*/

.userspace-tile,
.emitent-tile {
	position: absolute;
	overflow: hidden;
	border-color: #333 !important;
	border-style: solid !important;
	border-width: 1px 1px !important;
	padding: 0 !important;
	width: 121px !important;
	height: 121px !important;
}

.emitent-tile {
	background-color: rgba(255, 255, 255, 0.9);
}

.userspace-tile {
	background-color: rgba(255, 255, 255, 0.5);
}

.userspace-tile:nth-child(4) {
	border-right-width: 0 !important;
}

.emitent-tile .title {
	text-align: center;
	width: 100px;
	height: 20px;
	line-height: 20px;
	fomt-size: 16px;
	margin: 50px 10px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.emitent-info {
	-webkit-transition: all 300ms ease-in;
	position: absolute;
	z-index: 2000;
	height: 361px;
	width: 361px;
	border: 1px solid #000;
	opacity: 0;
}

.emitent-info .content {
	overflow: auto;
	width: 357px;
	height: 356px;
	background-color: rgba(255, 255, 255, 0.8);
	padding: 30px;
	font-size: 14px;
	margin: 2px;
}

.emitent-info h1 {
	font-weight: normal;
	text-transform: uppercase;
	text-align: center;
	font-size: 16px;
}

.emitent-tile.tile-opened {
	z-index: 3000;
}

.emitent-tile.tile-orientation_180.tile-opened,
.emitent-tile.tile-orientation_0.tile-opened {
	border-top-color: #fff !important;
}

.emitent-tile.tile-orientation_-90.tile-angle_0.tile-opened,
.emitent-tile.tile-orientation_90.tile-angle_180.tile-opened {
	border-left-color: #fff !important;
}

.emitent-tile.tile-orientation_-90.tile-angle_180.tile-opened,
.emitent-tile.tile-orientation_90.tile-angle_0.tile-opened {
	border-right-color: #fff !important;
}

.emitent-tile.tile-angle_180 {
	-webkit-transform: rotate(180deg);
}